@{
    Layout = null;
}

<style>
    #divEcpPhotoMatch div.row {
        padding: 2px 10px;
    }
</style>

<div id="divEcpPhotoMatch" class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12 well well-sm">
                <img src="#" alt="Image provided by E-Verify goes here" />
                <br />
                Does the photo displayed match the photo on the employee's document?
                <br />
                <input type="radio" id="inpEcpPhotoMatches" name="rbEcpPhotoMatchGroup" value="" />
                <input type="radio" id="inpEcpPhotoDoesntMatch" name="rbEcpPhotoMatchGroup" value="" />
                <br />
                <br />
                <button type="button" id="btnEcpPhotoMatchSubmit">Submit</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 well well-sm">
                "Employment Authorized" indicates that the government was able to confirm employment eligibility. This is the final case result. To close the case, select from the options provided.
            </div>
        </div>
    </div>
</div>
